@mixin backgroundImage($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flexLayout($justify, $align, $dir) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}