@import 'defaultStyle';
@import 'components';
@import 'vars';
@import 'mixins';

header.site-top{
    width: 100%;
    padding: 30px 0;
    .st-inner{
        width: 100%;
        @include flexLayout(center, flex-start, row);
        .logo{
            width: 200px;
            text-align: center;
            h2{
                font-size: 33px;
                text-transform: uppercase;
                letter-spacing: 3px;
                a{
                    color: $fontClr;
                }

            }
            h2::first-letter{
                font-size: 40px;
            }
            p{
                font-size: 18px;
                color: $fontClr;
            }
        }
    }
}
    nav.top{
        background-color: $secClr;
        width: 100%;
        @include flexLayout(center, flex-start, row);
        font-family: $font1;
        ul.menu{
            width: 978px;
            @include flexLayout(space-around, center, row);
            min-height: 60px;
            li.link{
                font-size: 14px;
                text-transform: uppercase;              
                a{ 
                    color:#fff;
                    padding: 20px 0;
                }             
            }
            li.dropdown::before{
                content: "\f077";
                font-family: 'icomoon';
                position: absolute;
                left: -12px;
                top: 5px;
                color: #fff;
                font-size: 7px;
                transform: rotate(180deg); 
            }
            li.link:first-child{
                a{
                    color: $themeClr;                   
                }
            }
        }
}
 .intro{
    width: 100%;
    min-height: 775px;
    margin-bottom: 40px;
    @include backgroundImage('../img/background-01.jpg');
    .i-inner{
        width: 100%;
        height: 775px;
        @include flexLayout(flex-start, center, row);
        article{
            max-width: 60%;
            h1{
                color: #fff;
                font-family: $font2;
                font-size: 90px;
                margin-bottom: 20px;
            }
            p{
                color: rgba(255, 255, 255, 0.596);
                font-family: $font1;
                font-size: 25px;
                margin-bottom: 50px;
            }
            footer{
                @include flexLayout(flex-start, flex-start, row);
                a:first-child{
                    margin-right: 20px;
                }
            } 
        }
    }
}
.features{
    width: 100%;
    margin-bottom: 40px;
    .f-inner{
        width: 100%;
        min-height: 500px;
        flex-wrap:nowrap;
        @include flexLayout(flex-start, flex-start, column);
        header.f-top{
            text-align: center;
            margin-bottom: 100px;
            color: rgba(114, 114, 114, 0.459);
            width: 100%;
            h3{
               margin-bottom: 10px;
               text-transform: uppercase; 
            }
        }
        .f-posts{
            @include flexLayout(space-between, flex-start, row);
            article{
                width: 30%;
                text-align: center;
                background-color: rgba(117, 102, 102, 0.068);
                padding: 65px 20px 30px;
                color: rgba(114, 114, 114, 0.459);
                position: relative;
                h3{
                    margin-bottom: 20px;
                }
                p{
                    margin-bottom: 30px;
                }
            }
            article::before{
                content: "\f017";
                font-family: 'icomoon';
                font-size: 40px;
                position: absolute;
                top: -40px;
                left: 110px;
                background-color: $themeClr;
                color: #fff;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                padding: 15px;
                box-sizing: border-box;
                border: 5px solid #fff;
            }
            article:hover article::before{
                background-color:rgba(117, 102, 102, 0.068);
                color: $themeClr;
            }
        }
    } 
}
.bigpost{
    width: 100%;
    min-height: 500px;
    @include backgroundImage('../img/background-02.jpg');
    @include flexLayout(flex-end, flex-start, row);
    margin-bottom: 60px;
    .bp-post{
        width: 50%;
        padding: 100px 0 50px;
        min-height: 500px;        
        article{
            color: #fff;
            padding: 0 50px;
            h3{
                margin-bottom: 30px;
            }
            p{
                font-family: $font1;
                margin-bottom: 15px;
            }
            ul{
                font-family: $font1;
                margin-bottom: 15px;
                li{
                    padding-left: 30px;
                    margin-bottom: 15px;
                    position: relative;
                }
                li::before{
                    position: absolute;
                    content:"\f058"; ;
                    font-family: 'icomoon';
                    left: 0;
                    color: $themeClr;
                    font-size: 18px;
                }
            }
            footer{
                margin-top: 30px;
            }
        }
    }
}
.morbi{
    width: 100%;
    margin-bottom: 40px;
    .mrb-inner{
        width: 100%;
        @include flexLayout(space-between, flex-start, row);
        article.mrb-left{
            width: 55%;
            color: $fontClr;
            p.mrb-top{
                font-size: 12px;
            }
            h2{
                margin-bottom: 30px;
                font-size: 35px;
                text-transform: uppercase;
                font-weight: 400;
            }
            span.capLetter{
                font-size: 43px;
            }
            p{
                margin-bottom: 15px;
                font-family: $font1;
            }
            footer{

                a{
                    color: $themeClr;
                    text-transform: capitalize;
                }
            }
        }
        figure.mrb-right{
            width: 40%;
            img{
                width: 100%;
            }
        }
    }
}
.ppl{
     @include backgroundImage('../img/background-03.jpg');     
        .p-inner{
            width: 100%;
            padding: 50px 0;
            header{
                font-size: 16px;
                font-family: Georgia,"Times New Roman",Times,serif;
                 h2{
                   color: #fff; 
                   margin-top: 50px;
                   text-align-last: center;
                  
                   }
                p{
                    color: #fff;
                    margin-top: 10px;
                    margin-bottom: 100px;
                    text-align: center;
                }
            }
            .posts{
                @include flexLayout(center, center, row);
                
                .post{
                   .p-top{
                          display: flex;
                          justify-content: center;                  
                        img{
                            border-radius: 50%;
                           }
                        }  
                        p{
                            color: #fff;
                            text-align: center;
                            margin-top: 20px;
                        }
                        footer{

                            .author{
                                margin-top: 20px;
                                margin-bottom: 0px;
                                font-size: 16px;
                            }
                            p{
                                margin: 0px;
                                margin-bottom: 100px;
                                font-size: 11px;
                            }                                          
                        }
                    }
                }
            }       
}
.tellus{

    .t-inner{
        padding: 50px 0;
        
        header{
            text-align: center;
            h2{
                color: #9292A0;
            }
            p{
                color: #9292A0;
            }
        }
        .t-section{ 
                @include flexLayout(center, center, row);
                section{
                    // width: 100%;
                    padding: 10px;
                    figure{
                        display: flex;
                        justify-content: center;
                        img{
                            padding: 50px 0;
                            }
                    }
                    h2{
                        display: flex;
                        justify-content: center;
                        color: #81807f7c;
                        font-size: 18px;
                        margin-bottom: 10px;
                       }
                    ul{
                        display: flex;
                        justify-content: center;
                        font-family: $font1;
                        margin-bottom: 15px;  
                        li{
                            width: 33%;
                            color: $themeClr;
                            padding-left: 20px;
                            padding-right: 15px;
                            margin-bottom: 15px;
                            position: relative;
                            font-size: 14px;
                          }
                        .admin::before{
                            position: absolute;
                            content:"\f007";
                            font-family: 'icomoon';
                            left: 0;
                            color: $fontClr;
                            font-size: 14px;
                        }
                        .category::before{
                            position: absolute;
                            content:"\f02b";
                            font-family: 'icomoon';
                            left: 0;
                            color: $fontClr;
                            font-size: 14px;
                            }
                        .comment::before{
                            position: absolute;
                            content:"\f086";
                            font-family: 'icomoon';
                            left: 0;
                            color: $fontClr;
                            font-size: 14px;
                            }

                    
                }
            } 
        }
    }  
}
.site-bottom{
    width: 100%;
    .fsb-upper{
        width: 100%;
        background-color: $secClr;
        font-size: 15px;
        .upp-inner{
            width: 100%;
            padding: 60px 0;
            @include flexLayout(space-between, flex-start, row);
            flex-wrap: wrap;
            h2.fsb-top{
                color: #fff;
            }
            .fsb-contact{
                width: 32%;
                color: $fontClr;
                ul{
                    padding: 20px 0;
                    li{
                        padding: 10px 0 10px 23px;
                        position: relative;
                    }
                    li::before{
                        position: absolute;
                        font-family: 'icomoon';
                        left: 0px;
                        top: 6px;
                        color: $fontClr;
                        font-size: 18px;
                    }
                    li.map::before{
                        content:"\f041";
                    }
                    li.phone::before{
                        content:"\f095";
                    }
                    li.mail::before{
                        content:"\f003";
                    }
                }    
                    .social-links{

                        a{
                            position: relative;
                            display: inline-block;
                            width: 36px;
                            height: 36px;
                            padding: 10px;
                            margin: 5px;
                            background-color: #fff;
                            color: #000;
                            transition: background-color .7s;
                            transition: color 1.2s;
                        }
                        a::before{                            
                            position: absolute;
                            font-family: 'icomoon';
                            text-align: center;
                            top: 6px;
                            right: 10px;
                            font-size: 22px;
                        }
                        a:hover{
                            color: #fff;                          
                        }
                        a.fb::before{
                            content: "\f09a";
                            right: 12px;
                        }
                        a.fb:hover{
                            background-color: #0000ff9a;
                        }
                        a.tw::before{
                            content: "\f099";
                        }
                        a.tw:hover{
                            background-color: #1683add7;
                        }
                        a.drob::before{
                            content: "\f17d";
                        }
                        a.drob:hover{
                            background-color: #ff0077;
                        }
                        a.in::before{
                            content: "\f0e1";
                        }
                        a.in:hover{
                            background-color: #0abeebb2;
                        }
                        a.ggl::before{
                            content: "\f1a0";
                        }
                        a.ggl:hover{
                            background-color: #ff1e00b6;
                        }
                        a.vk::before{
                            content: "\f189";
                            right: 6px;
                        }
                        a.vk:hover{
                            background-color: #0051ff81;
                        }
                    }
            }
            .fsb-about{
                width: 32%;
                color: $fontClr;
                article{
                    padding: 20px 0;
                    border-bottom: 10px;
                    h2{
                        margin-bottom: 10px;
                        a{
                            color: $themeClr;
                        }
                    }
                    time{
                        display: block;
                        margin-bottom: 8px;
                    }
                }
            }
            .fsb-subscribe{
                width: 32%;
                color: $fontClr;
                p{
                    margin-bottom: 10px;
                    padding: 20px 0;
                }
                form{
                    padding: 10px 0;
                    input{
                        display: block;
                        margin: 10px 0;
                        padding: 5px 15px;
                        outline: none;
                    }
                    input.inp-name{
                        width: 100%;
                    }
                    input.inp-email{
                        width: 100%;
                    }
                    input.inp-submit{
                        background-color: $themeClr;
                        color: #fff;
                        border: none;
                        text-transform: uppercase;
                        font-size: 14px;
                        padding: 8px 18px 10px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-weight: 700;
                    }
                    input::placeholder{
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    
    .fsb-under{
        background-color: #4A4E57;
        color: $fontClr;
        padding: 20px 0;
        font-size: 18px;
        font-family: $font1;
        .und-inner{
            width: 100%;
            @include flexLayout(space-between, flex-start, row);
            flex-wrap: wrap;
        }
    }
}
hr{
    border-width: 0.01px;
    width: 85%;
    margin: 12px;
}